xrandr --auto --output VGA-1-1 --mode 1280x1024 --left-of DVI-D-0 --output VGA-2-1 --mode 1024x768 --right-of DVI-D-0
feh --bg-fill ~/.wallpapers/TARDIS4.jpg  --bg-fill ~/.wallpapers/Rose.jpg  --bg-fill ~/.wallpapers/Doctor.jpg
setxkbmap gb
daemonize /bin/redshift -l 54:2
compton -b --config ~/.config/compton/compton.conf
